<!DOCTYPE html>
<html>
<head>
  <title>Audio Clips</title>
 <!--  // <script src="../public/jquery-2.1.4.min.js"></script>
  // <script src="../public/Quiz.js"></script>
  // <script src="../public/app.js"></script> -->
  <link rel="stylesheet" href="/main.css">
  <script src="/jquery-2.1.4.min.js"></script>
  <script src="/Audio.js"></script>
  <script src="/appAudio.js"></script>
</head>
  <body>
    <h1>Guess that Song!</h1>
    <div id="Stay-with-me">
      <script>
        (function(d, s, id) {
        var js, djs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "http://cdn-files.deezer.com/js/widget/loader.js";
         djs.parentNode.insertBefore(js, djs);
        }(document, "script", "deezer-widget-loader"));
      </script>

      <div class="deezer-widget-player" id="clip" data-scrolling="no" data-frameborder="0" data-allowTransparency="true" data-width="70" data-height="70"></div>
    </div>

    <div class="wrapper">
      <header>
        Music Quiz of the Year
      </header>
      <section class="main-audio" id="quiz-main">
        <div class="buttons">
          <span id="a" class="quiz-btn"></span>
          <span id="b" class="quiz-btn"></span>
          <span id="c" class="quiz-btn"></span>
        </div>
        <div class="info">
          <p>Question no: <span id="turn"></span></p>
          <p>Score: <span id="score"></span></p>
          <p>Total questions: <span id="noQuestions"></span></p>
        </div>
      </section>
      <div id="score-main" class="results" style="display:none;">
        <p class="score">
        Score: <span id="final"></span> out of <span id="outof"></span>
        </p>
        <div class="play-btn">
          <a href='/'>Play</a>
        </div>
      </div>

  </body>
</html>
