<!DOCTYPE html>
<html>
<head>
  <title>Audio Clips</title>
 <!--  // <script src="../public/jquery-2.1.4.min.js"></script>
  // <script src="../public/Quiz.js"></script>
  // <script src="../public/app.js"></script> -->
  <link rel="stylesheet" href="/main.css">
  <script src="/jquery-2.1.4.min.js"></script>
  <script src="/Audio.js"></script>
  <script src="/appAudio.js"></script>
</head>
  <body>

    <div class="wrapper">
      <header>
        Audio
      </header>
      <section class="main-audio" id="quiz-main">
        <!-- <h1>Guess that Song!</h1> -->
        <div id="Stay-with-me" class="audio-thumb">
          <div class="deezer-widget-player" id="clip" data-scrolling="no" data-frameborder="0" data-allowTransparency="true" data-width="70" data-height="70"></div>
        </div>

        <div class="buttons">
          <span id="a" class="audio-btn"></span>
          <span id="b" class="audio-btn"></span>
          <span id="c" class="audio-btn"></span>
        </div>
        <div>
          <p><b>Question&nbsp;&nbsp;</b><span id="turn"></span> <b>/</b> <span id="noQuestions"></span></p>
          <p><b>Score&nbsp;&nbsp;&nbsp;</b><span id="score"></span></p>
        </div>
      </section>
      <section class="score-audio">
        <div id="score-main" class="results" style="display:none;">
          <p class="score">
            <b>Score&nbsp;&nbsp;&nbsp;</b> <span id="final"></span> / <span id="outof"></span>
          </p>
          <div class="play-btn">
            <a href='/'>Play another quiz</a>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script>
    (function(d, s, id) {
    var js, djs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "http://cdn-files.deezer.com/js/widget/loader.js";
     djs.parentNode.insertBefore(js, djs);
    }(document, "script", "deezer-widget-loader"));
  </script>
</html>
