<!DOCTYPE html>
<html>
<head>
  <title>Audio Clips</title>
 <!--  // <script src="../public/jquery-2.1.4.min.js"></script>
  // <script src="../public/Quiz.js"></script>
  // <script src="../public/app.js"></script> -->
  <script src="/jquery-2.1.4.min.js"></script>
  <script src="/Audio.js"></script>
  <script src="/appAudio.js"></script>
</head>
  <body>
    <h1>Guess that Song!</h1>
    <div id="Stay-with-me">
      <script>
        (function(d, s, id) {
        var js, djs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "http://cdn-files.deezer.com/js/widget/loader.js";
         djs.parentNode.insertBefore(js, djs);
        }(document, "script", "deezer-widget-loader"));
      </script>

      <div class="deezer-widget-player" id="clip" data-scrolling="no" data-frameborder="0" data-allowTransparency="true" data-width="70" data-height="70"></div>
    </div>

    <div id="quiz-main">
      <p id="question"></p>
      <button id="a"></button>
      <button id="b"></button>
      <button id="c"></button>
      <p>Question no: <span id="turn"></span></p>
      <p>Score: <span id="score"></span></p>
      <p>Total questions: <span id="noQuestions"></span></p>
      <!-- <p>Playing: <span id="playing"></span></p> -->
    </div>
    <div id="score-main" style="display:none;">
      <p style="font-size: 50px;">
      Score: <span id="final"></span> out of <span id="outof"></span>
      </p>
      <button id="replay">Play again</button>
    </div>

  </body>
</html>