<!DOCTYPE html>
<html>
<head>
	<title>Music Quiz</title>
	<!--<script src="../public/jquery-2.1.4.min.js"></script>
	<script src="../public/Quiz.js"></script>
	<script src="../public/app.js"></script>-->
	<link rel="stylesheet" href="/main.css">
	<script src="/jquery-2.1.4.min.js"></script>
	<script src="/Quiz.js"></script>
	<script src="/app.js"></script>
</head>
<body>
	<div class="wrapper">
		<div class="content">
			<h1>Please select a quiz to play</h1>
			<div class="button">
				<a href='/quiz'>Trivia quiz</a>
			</div>
			<div class="button">
				<a href='/lyrics'>Lyrics quiz</a>
			</div>
			<div class="button">
				<a href='/audio'>Audio quiz</a>
			</div>
		</div>
	</div>
</body>
</html>
