<!DOCTYPE html>
<html>
<head>
	<title>Music Quiz</title>
	<!--<script src="../public/jquery-2.1.4.min.js"></script>
	<script src="../public/Quiz.js"></script>
	<script src="../public/app.js"></script>-->
	<link rel="stylesheet" href="/main.css">
	<script src="/jquery-2.1.4.min.js"></script>
	<script src="/Quiz.js"></script>
	<script src="/app.js"></script>
</head>
<body>
	<div class="wrapper">
		<header>
			Music Quiz of the Year
		</header>
		<section class="main">
			<!-- <h1>Please select a quiz to play</h1> -->
			<div class="start-btns">
				<a href='/quiz'><img src="/imgs/trivia2.png" /></a>
				<a href='/lyrics'><img src="/imgs/lyrics2.png" /></a>
				<a href='/audio'><img src="/imgs/audio2.png" /></a>
			</div>
		</section>
	</div>
</body>
</html>
