<!DOCTYPE html>
<html>
<head>
	<title>Lyric Quiz</title>
	<!--<script src="../public/jquery-2.1.4.min.js"></script>
	<script src="../public/Quiz.js"></script>
	<script src="../public/app.js"></script>-->
	<link rel="stylesheet" href="/main.css">
	<script src="/jquery-2.1.4.min.js"></script>
	<script src="/Lyrics.js"></script>
	<script src="/app.js"></script>
</head>
<body>
	<div class="wrapper">
		<header>
			Lyrics
		</header>
		<section class="main-lyrics" id="quiz-main">
			<div class="questions">
		    <span class="quotes">&ldquo;</span>
				<p id="question" class="lyrics"></p>
				<span class="quotes">&rdquo;</span>
			</div>
			<div class="buttons">
		    <span id="a" class="lyric-btn"></span>
		    <span id="b" class="lyric-btn"></span>
		    <span id="c" class="lyric-btn"></span>
			</div>
			<div>
        <p><b>Question&nbsp;&nbsp;</b><span id="turn"></span> <b>/</b> <span id="noQuestions"></span></p>
        <p><b>Score&nbsp;&nbsp;&nbsp;</b><span id="score"></span></p>
      </div>
  	</section>
		<section class="score-lyrics">
	  	<div id="score-main" class="results" style="display:none;">
		    <p class="score">
		      <b>Score&nbsp;&nbsp;&nbsp;</b> <span id="final"></span> / <span id="outof"></span>
		    </p>
				<div class="play-btn">
					<a href='/'>Play another quiz</a>
				</div>
			</section>
  	</div>
</body>
</html>
