<!DOCTYPE html>
<html>
<head>
	<title>Testing stuff</title>
	<!--<script src="../public/jquery-2.1.4.min.js"></script>
	<script src="../public/Quiz.js"></script>
	<script src="../public/app.js"></script>-->
	<link rel="stylesheet" href="/main.css">
	<script src="/jquery-2.1.4.min.js"></script>
	<script src="/Lyrics.js"></script>
	<script src="/app.js"></script>
</head>
<body>
	<div class="wrapper">
		<header>
			Music Quiz of the Year
		</header>
		<section class="main-audio" id="quiz-main">
			<div class="questions">
		    <span class="quotes">&ldquo;</span>
				<p id="question" class="lyrics"></p>
				<span class="quotes">&rdquo;</span>
			</div>
			<div class="buttons">
		    <span id="a"></span>
		    <button id="b"></button>
		    <button id="c"></button>
			</div>
			<div class="info">
		    <p>Question no: <span id="turn"></span></p>
		    <p>Score: <span id="score"></span></p>
		    <p>Total questions: <span id="noQuestions"></span></p>
			</div>
    <!-- <p>Playing: <span id="playing"></span></p> -->
  	</section>
  	<div id="score-main" class="results" style="display:none;">
	    <p class="score">
	      Score: <span id="final"></span> out of <span id="outof"></span>
	    </p>
			<div class="play-btn">
				<a href='/'>Play</a>
			</div>
  	</div>
</body>
</html>
