<!DOCTYPE html>
<html>
<head>
	<title>Trivia Music Quiz</title>
	<!--<script src="../public/jquery-2.1.4.min.js"></script>
	<script src="../public/Quiz.js"></script>
	<script src="../public/app.js"></script>-->
  <link rel="stylesheet" href="/main.css">
	<script src="/jquery-2.1.4.min.js"></script>
	<script src="/Quiz.js"></script>
	<script src="/app.js"></script>
</head>
<body>
  <div class="wrapper">
    <header>
      Trivia
    </header>
    <section class="main-quiz" id="quiz-main">
      <div class="questions">
        <p id="question"></p>
      </div>
      <div class="buttons">
        <span id="a" class="quiz-btn"></span>
        <span id="b" class="quiz-btn"></span>
        <span id="c" class="quiz-btn"></span>
      </div>
      <div>
        <p><b>Question&nbsp;&nbsp;</b><span id="turn"></span> <b>/</b> <span id="noQuestions"></span></p>
        <p><b>Score&nbsp;&nbsp;&nbsp;</b><span id="score"></span></p>
      </div>
    </section>
    <section class="score-quiz">
      <div id="score-main" class="results" style="display:none;">
        <p class="score">
          <b>Score&nbsp;&nbsp;&nbsp;</b> <span id="final"></span> / <span id="outof"></span>
        </p>
        <div class="play-btn">
          <a href='/'>Play another quiz</a>
        </div>
      </div>
    </section>
  </div>
</body>
</html>
